@using System.Security.Claims
@model Reservation.Models.Common.SignInModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <title>@ViewData["Title"] - Reservation.Web</title>
    <link rel="stylesheet" href="~/css/Member/site.css" />
</head>
<body>
    <header>
        <div class="header">
            <div class="left">
                <img class="logo" src="~/Images/Members/reservation.png" alt="BookingsLogo" />
                <div onclick="window.location='@Url.Action("AttachCard", "Member")'">Booking</div>
            </div>
            <div class="right">
                @{
                    if (!User.Identity.IsAuthenticated)
                    {
                        <button class="signinbutton" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Log in</button>
                        <button class="signinbutton" onclick="document.getElementById('id03').style.display='block'" style="width:auto;">Register</button>
                    }
                    else
                    {
                        <div style="color:white; align-items:center; margin-right:40px; " class="element">
                            <a class="loginelements" style="border-bottom: 2px solid #1c7430; margin-left:15px; cursor:pointer;" onclick="window.location='@Url.Action("AttachCard", "Member")'">Attach Card</a>
                            <a style="border-bottom: 2px solid #1c7430; margin-left: 15px; cursor: pointer " class="loginelements">Attached Cards</a>
                            <a style="border-bottom: 2px solid #1c7430; margin-left: 15px; cursor: pointer " class="loginelements">Deals History</a>
                        </div>
                        <button class="signinbutton"><ion-icon name="cart-outline"></ion-icon><span> 0 </span></button>
                        <button class="signinbutton" onclick="document.getElementById('id04').style.display='block'" style="width:auto;">Edit</button>
                        <button class="signinbutton" onclick="window.location='@Url.Action("Logout", "Member")'">Log out</button>
                    }
                }

                <div class="flags">
                    <img src="~/Images/Members/united-kingdom.png" alt="ENG" />
                    <img src="~/Images/Members/russia.png" alt="RU" />
                    <img src="~/Images/Members/armenia.png" alt="ARM" />
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div id="id01" class="modal">

        <form class="modal-content animate" action="/Member/VerifyMember" method="post">
            <div class="container">
                <input class="login" type="text" placeholder="Email" name="Login">

                <input type="password" placeholder="Password" name="Password">
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                    <div style="margin-top:10px;">
                        <a class="forgot" href="#" onclick="document.getElementById('id02').style.display='block'">Forgot password?</a>
                    </div>
                </label>

                <button type="submit">Login</button>

            </div>
        </form>
    </div>

    <div id="id02" class="modal">

        <form class="modal-content animate" method="post">
            <div class="container">
                <a onclick="window.location='@Url.Action("Index", "Member")'" style="cursor:pointer; float:right"><ion-icon name="close-outline"></ion-icon></a>
                <input class="login" type="text" placeholder="Email" name="Login">
                <input type="password" placeholder="Password" name="NewPassword">
                <input type="password" placeholder="Password" name="ConfirmNewPassword">

                <button type="submit" asp-controller="Member" asp-action="ResetPassword">Change</button>

            </div>
        </form>
    </div>

    <div id="id03" class="modal">

        <form class="modal-content3 animate" action="/Member/AddNewMember" method="post">
            <div class="container3">
                <a onclick="window.location='@Url.Action("Index", "Member")'" style="cursor:pointer; float:right"><ion-icon name="close-outline"></ion-icon></a>
                <h1 style="color:#1c7430;text-align:center">Register</h1>
                <label>Name</label>
                <input class="login" type="text" name="Name">
                <label>Surname</label>
                <input type="text" name="Surname">
                <label>Email</label>
                <input type="text" name="Email">
                <label>Phone</label>
                <input type="text" name="Phone">
                <label>Password</label>
                <input type="password" name="Password">
                <label>ConfirmPassword</label>
                <input type="password" name="ConfirmPassword">

                <button type="submit">Register</button>
            </div>
        </form>
    </div>

    <div id="id04" class="modal">

        <form class="modal-content3 animate" action="/Member/UpdateMemberInfo" method="post">
            <div class="container3">
                <a onclick="window.location='@Url.Action("Index", "Member")'" style="cursor:pointer; float:right"><ion-icon name="close-outline"></ion-icon></a>
                <h1 style="color:#1c7430;text-align:center">Personal Information</h1>
                <label>Name</label>
                <input class="login" type="text" name="Name">
                <label>Surname</label>
                <input type="text" name="Surname">
                <label>Email</label>
                <input type="text" name="Email">
                <label>Phone</label>
                <input type="text" name="Phone">
             

                <button type="submit">Edit</button>
            </div>
        </form>
    </div>

    <footer class="border-top footer text-muted">
        <div class="paymenttypes">
            <img class="arca" src="~/Images/App/arca.png" alt="Arca" />
            <img class="visamaster" src="~/Images/App/visamaster.png" alt="Visa Master" />
        </div>
        <div class="footertext">
            <div class="links">
                <a>Terms and Conditions</a>
                <a class="contact">Contact Us</a>
            </div>
            <div class="address">Address: Armenia, Yerevan, Tigran Mets 54, Phone number: 010 120 120 Email address: onlinereservationservice@gmail.com</div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
<script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
</html>