@using Reservation.Models.ServiceMember
@using Reservation.Resources.Controllers
@model List<ServiceMemberForAdminModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link rel="stylesheet" href="~/css/serviceMembers.css" />

<div>
    <table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>ViewsCount</th>
        <th>OrdersCount</th>
        <th>AcceptsOnlinePayment</th>
        <th>Facebook</th>
        <th>Instagram</th>
        <th>BankAccount</th>
        <th>BranchesCount</th>
    </tr>
    @{
        foreach (var serviceMember in Model)
        {
            <tr>
                <td>@serviceMember.Name</td>
                <td>@serviceMember.Email</td>
                <td>@serviceMember.ViewsCount</td>
                <td>@serviceMember.OrdersCount</td>
                <td>
                    @{
                        if (serviceMember.AcceptsOnlinePayment)
                        {
                            <img class="onlinePaymentIcon" src="~/Images/App/active-icon.png" />
                        }
                        else
                        {
                            <img class="onlinePaymentIcon" src="~/Images/App/inactive-icon.png" />
                        }
                    }
                </td>
                <td><a href="@serviceMember.Facebook">@serviceMember.Facebook</a></td>
                <td><a href="@serviceMember.Instagram">@serviceMember.Instagram</a></td>
                <td>@serviceMember.BankAccount</td>
                <td>
                    @{
                        if(serviceMember.BranchesCount >= 1)
                        {
                            <a href="/Admin/ServiceMemberBranches?smId=@serviceMember.Id">@serviceMember.BranchesCount</a>
                        }
                        else
                        {
                            @serviceMember.BranchesCount
                        }
                    }
                </td>
            </tr>
        }
    }
</table>
</div>